body{
	margin: 100px 200px 400px 40px;
}

h1{
	font-family: "Palatino Linotype";
	font-weight: 200px;
}

.bio{
	float: right;
	font-family: "Palatino Linotype";
	width: 1000px;
}

img{
	margin-top: 20px;
	vertical-align: middle;

}

a:link {
    text-decoration-color: blue;
}

